/* Base */
@use "base/reset";
@use "base/variables";
@use "base/mixins";
@use "base/global";

/* Layout */
@use "layout/container";
@use "layout/background";
@use "layout/header";

/* Sections */
@use "sections/hero";
@use "sections/program";

/* Components */
@use "components/buttons";
@use "components/slider";
@use "components/dots";
