@use '../base/variables' as *;

.bg-wrapper {
  position: relative;
  overflow: hidden;
  background: radial-gradient(60% 60% at 50% 30%, rgba($color-green, 0.15) 0%, transparent 100%), linear-gradient(180deg, #000 0%, $color-bg-dark 100%);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/hero-bg.webp');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    z-index: -1; 
    opacity: 0.8;
  }
}
