@use '../base/variables' as *;
@use '../base/mixins' as *;

.container {
  margin-inline: auto;
  @include fluid-prop('margin-left', 30px, 120px);
  @include fluid-prop('margin-right', 30px, 120px);
}
