@use "../base/variables" as *;
@use "../base/mixins" as *;

.header {
  padding: 24px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  display: inline-flex;
  align-items: center;

  img {
    width: 221px;
    height: auto;
    opacity: 0.9;
    transition: opacity 0.2s ease;
  }

  &:hover img {
    opacity: 1;
  }

  @include mq($mobile) {
    img {
      width: 98px;
    }
  }
}
