@use '../base/variables' as *;
@use '../base/mixins' as *;

.header {
  &__container {
    @include fluid-prop('margin-top', 15px, 47px);
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $color-muted;
  }
}

.logo {
  display: inline-flex;
  align-items: center;

  img {
    @include fluid-prop('width', 98px, 221px);
    @include fluid-prop('height', 29px, 65px);
  }

  &:hover img {
    opacity: 1;
  }
}
