@use '../base/variables' as *;
@use '../base/mixins' as *;

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;

  @include fluid-prop('width', 333px, 428px);
  @include fluid-prop('height', 58px, 75px);
  @include fluid-prop('font-size', 16px, 22px);

  background-color: $color-green;
  color: $color-white;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: $radius;

  box-shadow: inset 0 0 8.3px 4px $color-shadow;

  transition: transform $transition, opacity $transition;

  &:hover {
    opacity: 0.9;
    transform: scale(1.02);
  }

  &:active {
    transform: scale(0.98);
  }
}
