@use '../base/variables' as *;
@use '../base/mixins' as *;

.slider {
  position: relative;

  &__track-wrapper {
    overflow: hidden;
  }

  &__track {
    display: flex;
    gap: 15px;
    transition: transform $transition;
  }

  &__slide {
    @include fluid-prop('min-width', 333px, 455px);
    @include fluid-prop('height', 402px, 548px);
    border-radius: $radius;
    overflow: hidden;
    border: 2px solid $color-green;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
