@use 'sass:math';

@mixin fluid-prop($prop, $min, $max, $minW: 420px, $maxW: 1920px) {
  $slope: math.div($max - $min, $maxW - $minW);

  #{$prop}: clamp(#{$min}, calc(#{$min} + (var(--content-vw, 100vw) - #{$minW}) * #{$slope}), #{$max});
}

@mixin mq($width) {
  @media screen and (max-width: #{$width}) {
    @content;
  }
}
